
.bio{
    text-align: center;
    max-width: 600px;
}

#apresentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#apresentation .name{
    font-size: 2.5rem;
    margin: 20px 0;
}

#apresentation .description{
    font-size: 1rem;
    margin: 16px 0 0px 0;
}

.icons{
    display: flex;
    justify-content: center;
}

.icons a{
    font-size: 45px;
    margin: 0 10px;
    transition: color 0.12s, transform 0.1s;
    color: white;
}

.icons a:hover{
    cursor: pointer;
    color: #0283ec;
    transform: scale(110%);
}
