body{
    color: white;
    background-image: url("/imagens/background.jpg");
    background-size: cover;
}

em{
    color: rgb(2, 131, 236);
    font-style: normal;
}


.apresentation .nome{
    text-align: center;
    margin: 150px auto 0 auto;
    max-width: 500px;
}

