::-webkit-scrollbar {
    width: 5px; 
}
  
::-webkit-scrollbar-track {
    background-color: #032947;
}
  
::-webkit-scrollbar-thumb {
    background-color: #0072cf; 
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #005397;
}
  