#root{
  background-color: black;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

h1, h5{
  color: white;
}

.b-blue-font{
  color: #062C65;
}

.icons-apresentation{
  font-size: xx-large;
  color: white;
}

.icons-apresentation:hover{
  color: #007BFF;
  cursor: pointer;
}

.icons-knowledge{
  width: 80%;
  padding: 10px;
  background-color: #062C65;
  border-radius: 20px;
}

.icon-knowledge{
  width: 40px;
}

span{
  color: #007BFF;
}

.divisor-knowledge{
  width: 40%;
  height: 1vh;
  border-radius: 20px;
  background-color: #062C65;
}

.button-project{
  background-color: #062C65;
  border: none;
  width: 35vw;
  max-width: 160px;
  height: 45px;
  font-size: x-large;
}

.button-project:hover{
  opacity: 90%;
}

.selected{
  background-color: #0C58CB;
}

